.results-container {
	font-size: 0.875rem; 
	padding: 1rem $gutter;
	margin: 1rem 0 0;
	background: $colour-background-secondary;
}

.results-navigation {
	float: right; 
	padding: 0 0 0 $gutter;
}

.navigation__page-count {
	float: left;
}

.navigation__page-controls {
	float: right; 
}

.navigation__page-control {
	float: left; 
	margin: 0 0 0 0.5rem; 

	& > a {
		display: block; 
		width: 2.75rem;
		height: 2.75rem;
		background: gray; 
	}
}

.results-count {
	float: left; 
}

.results-count, 
.results-navigation {
	line-height: 2.75rem; 
	margin: 0 0 1rem;
}


.results {
	@include clearfix; 

	clear: both;
}

.result {
	float: left;
	width: 100%;
	margin: 0 0 1rem;

	&:last-child {
		margin-bottom: 0; 
	}
}

.result__image {
	display: block; 
	background: gray; 
	height: 0;
	padding: 253 /169 * 100% 0 0;
}

.result__title, 
.result__date {
	margin: 0.5rem 0 0;
}

@media screen and (min-width: $mq-s) {
	.result {
		width: (100% - $gutter) / 2; 
		margin-left: $gutter; 

		&:nth-child(2n - 1) {
			margin-left: 0;
		}
	}
}

@media screen and (min-width: $mq-m) {
	.result {
		width: (100% - ($gutter * 2)) / 3;
		margin-left: $gutter;

		&:nth-child(2n - 1) {
			margin-left: $gutter;
		}

		&:nth-child(3n - 2) {
			margin-left: 0; 
		}
	}
}

@media screen and (min-width: $mq-l) {
	.result {
		width: (100% - ($gutter * 3)) / 4;
		margin-left: $gutter;

		&:nth-child(3n - 2) {
			margin-left: $gutter; 
		}

		&:nth-child(4n - 3) {
			margin-left: 0;
		}
	}
}
