$btn_width: 2rem * (25 / 27);
$btn_height: 2rem;
$btn_space: 0.5rem;

header {
	form[name="search"] {
		position: relative;

		input {
			width: 100%;
			height: $btn_height + ($btn_space * 2);
			background: $colour-background-primary; 
			color: $colour-white;
			border: solid 2px;
			padding: 0 $btn_width + ($btn_space * 2) 0 $btn_space;
		}

		button {
			width: $btn_width; 
			height: $btn_height; 
			position: absolute;
			top: $btn_space;
			right: $btn_space;
			overflow: hidden;
			background: url('/assets/search.svg') transparent; 
			border: none;
		}
	}
}

.header__title {
	display: block;
	height: #{(48 / 16)}rem; 
	width: 100%;
	max-width: #{(296 / 16)}rem;
	margin: 1rem 0;
	background-image: url('/assets/logo.svg'); 
}

@media screen and (min-width: $mq-m) {
	header {
		@include clearfix; 
	}

	form[name="search"], 
	.header__title {
		width: (100% - $gutter) / 2; 
	}

	.header__title {
		float: left;
	}

	form[name="search"] {
		float: right; 
		margin: 1rem 0; 
	}
}
