$gutter: 2;
$poster-aspect: 253 / 169;

$mq-s: 350px;
$mq-m: 500px;
$mq-l: 700px;

$colour-white: #fff;
$colour-black: #000;
$colour-background-primary: #171717;
$colour-background-secondary: #282828;
